/*       Progetto iniziato in data: 11/06/2020           *
*  Responsive Web Design Projects - Build a Tribute Page *
*               @author Ludovico Besana                  */

body{
  text-align: center;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  
  background-color: #fdfdfd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23333333' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}


h1{ 
  font-size: 4rem;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-size: 3.25rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}
#main {
  margin: 10px 8px;
  padding: 15px;
}

#image{
  border-radius: 5%;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  box-shadow: 2px 2px 4px #000000;
}

#headline {
  margin: 50px 0;
  text-align: center;
}

#img-div {
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}


@media (max-width: 460px) {
  h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  }
  #main {
   margin: 0;
 }
 #img-caption {
   font-size: 1.4rem;
 }
}
